<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Remember to include Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="/weather-icons-wind.min.css">
    <link rel="stylesheet" href="/weather-icons.min.css">


    <title>Adventurous Weather App</title>
</head>

  

<body class="bg-sky-blue text-stormy-grey min-h-screen">

  <%- include('partials/navbar.ejs') %>

  <%- include('partials/Apexchart.ejs', {data: times}) %>

  <i class="wi wi-day-sunny"></i>


    <canvas id="temperatureChart"></canvas>


    <div class="container">
        <h1>Weather Information <%= place %> </h1>
        <% times.forEach(item => { %>
            <div class="row">
                <h2>Time: <%= item.time %></h2>
                <p>Air Pressure at Sea Level: <%= item.data.instant.details.air_pressure_at_sea_level %> hPa</p>
                <p>Air Temperature: <%= item.data.instant.details.air_temperature %> Celsius</p>
                <p>Cloud Area Fraction: <%= item.data.instant.details.cloud_area_fraction %> %</p>
                <p>Relative Humidity: <%= item.data.instant.details.relative_humidity %> %</p>
                <p>Winds: <img src="/arrow.png" style="width: 30px; height: 30px; transform: rotate(<%= item.data.instant.details.wind_from_direction + 90 %>deg);" alt="Wind direction"> <%= item.data.instant.details.wind_from_direction %>° @ <%= item.data.instant.details.wind_speed %> m/s</p>
            </div>
        <% }); %>
    </div>
    <div id="loading" class="hidden">
        <!-- Loading spinner goes here -->
        <div class="w-16 h-16 border-t-4 border-sunset-orange rounded-full animate-spin"></div>
    </div>


    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Air Temperature (Celsius)</th>
                <th>Wind From Direction (Degrees)</th>
                <th>Wind Speed (m/s)</th>
            </tr>
        </thead>
        <tbody>
            <% times.forEach(item => { %>
                <tr>
                    <td><%= item.time %></td>
                    <td><%= item.data.instant.details.air_temperature %></td>
                    <td><%= item.data.instant.details.wind_from_direction %></td>
                    <td><%= item.data.instant.details.wind_speed %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    

    <script>
        const chart = new Chart(
            document.getElementById('temperatureChart'), {
                type: 'line',
                options: {
                    animation: false,
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            enabled: false
                        }
                    }
                },
                data: {
                    labels: <%- JSON.stringify(times.map(item => item.time)) %>,
                    datasets: [
                    {
                        label: 'Air temperature',
                        data: <%- JSON.stringify(times.map(item => item.data.instant.details.air_temperature)) %>
                    }, 
                    {
                        label: 'Wind speed',
                        data: <%- JSON.stringify(times.map(item => item.data.instant.details.wind_speed)) %>
                    }
                    ]
                }
            }
        )
    </script>
    <script src="/js.js" defer></script>
</body>
</html>
